<!DOCTYPE html>
<html>
  <head>
   <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

          <meta charset="UTF-8">
    <title>Rakéta adatgyüjtő szoftver</title>
  </head>
  <body>
    <div style="margin:2%">
    <h2 style="display: inline;">Rakéta adatgyüjtő szoftver</h2>
     <div class="btn-group btn-group-success " style=" position: absolute;right: 0px;">
	  <button class="btn btn-success" type="button">Kapcsolodás az adatgyüjtőhöz!</button>
	  <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button"><span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
		  <li><a href="#">Kapcsolódás!</a></li>
		  <li><a href="#">IP megváltoztatása!</a></li>
	  </ul>
  </div>
  </div>
    <!--<div class="alert alert-success" role="alert"><strong>Gyorsulás: </strong>5.6 g</div>-->
    <div class="panel panel-default" style="width: 200px;">
      <div class="panel-heading">Jelenlegi adatok:</div>
      <div class="panel-body"><strong>Gyorsulás: </strong> 5.6 g</div>
      <div class="panel-body"><strong>Magasság: </strong> 35 m</div>
    </div>
    <div class="panel panel-danger" style="width: 200px;">
      <div class="panel-heading">Max adatok:</div>
      <div class="panel-body"><strong>Gyorsulás: </strong> 5.6 g</div>
      <div class="panel-body"><strong>Magasság: </strong> 35 m</div>
    </div>
    <!-- All of the Node.js APIs are available in this renderer process. -->
  </body>
</html>
